@page
@model ChartModel
@{
    ViewData["Title"] = "Chart view";
}
<div>
<c1-flex-chart binding-x="Name" chart-type="Bar" legend-position="None">
    <c1-items-source source-collection="@Model.Processes"></c1-items-source>
    <c1-flex-chart-series binding="Memory" name="Physical Memory" />
    <c1-flex-chart-axis c1-property="AxisX" position="None" />
    <c1-flex-chart-axis c1-property="AxisY" reversed="true" />
</c1-flex-chart>
</div>